.divc{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    /* text-align: center; */
    display: block;
    height: 200px;
    width: 500px;
    /* justify-content: center; */
    text-align: center;
    margin: auto;
    padding: 30px;
}
input{
    margin: 10px;
}
#subm{
    border: 2px solid green;
    border-radius: 10px;
    width: 100px;
    pad: 10px;
    line-height: 2;
    /* color: white; */
    background-color: rgb(147, 254, 147);
}